/* header */
.App-header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns */
  grid-template-rows: repeat(1, 1fr);
  /* 1 row */
}

.header-text {
  grid-column-start: 2;
  justify-self: center;
}

.pfp-img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  margin: 10px;
  grid-column-start: 3;
  justify-self: end;
}

/* game displays */
.game-display {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.game-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 215px;
  font-size: 22px;
}

.game-text {
  text-align: center;
}

.game-display-img {
  max-width: 500px;
  max-height: 400px;
}